/*  COMMUNE  A  TOUTES  LES  PAGES  */


body {
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#back2 {
    background-image: url("../img/background22.jpeg")!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

a:visited, a:hover, a:focus, a:active {
    text-decoration: none !important;
    color: inherit;
}


/*  PAGE  ACCUEIL  */


h1 {
    text-align: center;
    color: white;
    margin-top: 20%;
}

h2 {
    color: white !important;
    text-align: center;
}

.block {
    display: block;
    text-align: center;
    width: 80%;
    margin: auto;
}

.block p {
    color: white;
    font-size: 10px;
    text-align: left;
    margin-top: 30%;
}

.block input.postal{
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: #393F3E;
    border: none!important;
    background-color:rgba(255,255,255, 0.9)!important;
}

.block input.connection{
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #393F3E;
    margin-top: 2em;
    border: none!important;
    background-color:rgba(255,255,255, 0.9)!important;
}
.block input.inscription{
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #393F3E;
    margin-top: 2em;
    border: none!important;
    background-color:rgba(255,255,255, 0.9)!important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: darkgrey;
}
::-moz-placeholder { /* Firefox 19+ */
    color: darkgrey;
}
:-ms-input-placeholder { /* IE 10+ */
    color: darkgrey;
}
:-moz-placeholder { /* Firefox 18- */
    color: darkgrey;
}

.block input.placeholder {
    color: #00a0d2!important;
}

.block input.valid {
    width: 80%;
    margin-top: 15%;
    color: white;
    background-color: #393F3E;
    height: 50px;
    border: none;
    border-radius: 4px;
}



/*  PAGE VERIFICATION  FORMULAIRE  CORDE  POSTAL  */


.verification {
    color: white;
    text-align: center;
}
.valid {
    width: 80%;
    margin-top: 15%;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #393F3E;
    padding-top: 15px;
    height: 50px;
    border: none;
    border-radius: 4px;
}

.retour {
    width: 50%;
    margin-top: 15%;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: darkred;
    padding-top: 15px;
    height: 50px;
    border: none;
    border-radius: 4px;
}


/*  PAGE  CATEGORIE  */


h1 .categorie {
    margin-top: 10%;
    margin-bottom: 10%;
}

.categorie-cuisine h3 {
    padding-left: 5%;
    padding-top: 15px;
    padding-bottom: auto;
    color: white;
    font-size: 24px;
}

a .categorie-cuisine {
    display: block;
    height: 100%;
}

a .categorie-orient {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-image: url("../img/background-orientale.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

a .categorie-chinoise {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-image: url("../img/background-francaise.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

a .categorie-japonnaise {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-image: url("../img/background-2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

a .categorie-americaine {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-image: url("../img/background-3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

a .categorie-africaine {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-image: url("../img/background-5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

a .categorie-indienne {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-image: url("../img/background-6.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

a .categorie-francaise {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-image: url("../img/background-7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

a .categorie-mer {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-image: url("../img/background-8.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


/* PAGE  CHARGEMENT  */


.loader{
    background: url('../img/background-8.jpeg') 50% 50% no-repeat rgba(255, 255, 255, 0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader h1{
    background: none;
    border: none;
    color: white;
    font-size: 42px;
    font-family: "Open Sans",sans-serif;
    font-variant: small-caps;
    font-weight: 700;
    height: 700px;
    line-height: 700px;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}


/*  PAGE CHOIX FORMULE  */


.choix-formule {
    color: white;
    text-align: center;
}

.choix-formule p {
    display: inline-block;
}

select.select {
    background-color: white;
    border-radius: 1px;
    color: #393F3E;
    border: none;
    border: 1px solid gray;
    width: 108px;
    height: 25px;

}

.form-choix-formule {
    display: inline-block;
}

.btn-valider-choix-formule {
    text-align: center;
    background-color: red;
    border: none;
    border-radius: 4px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}


/*  PAGE FORMULE 1 2 3 4  */


.center {
    text-align: center;
}

.cercle {
    display: inline-table;
    text-align: center;
    background-color: white;
    border: 2px solid gray;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
}


/*  PAGE  RACAPITULATIF  COMMANDE  */


.recap-commande {
    background-color: black;
    width: 70%;
}

html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }
#map_canvas { width: 100%; height: 70% }
